body{
	background-image: url('../img/bg.jpg');
}
.container{
	margin: 0 auto;
	width: 8.0625rem;
	perspective: 25rem;
}
.container .box{
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective-origin: 50% 50%;
}
.container .box>div{
	position: absolute;
	width: 8.0625rem;
	height: 73.125rem;
}